nodered/iot-arch.json
[{"id":"b6055a58.28c248","type":"comment","z":"c6d1c41a.4c8f98","name":"⬇︎ MACRO LEVEL","info":"","x":1350,"y":480,"wires":[]},{"id":"84c90de.a809df","type":"comment","z":"c6d1c41a.4c8f98","name":"Device","info":"","x":230,"y":100,"wires":[]},{"id":"26d8f7b1.05eed8","type":"comment","z":"c6d1c41a.4c8f98","name":"Setup","info":"","x":250,"y":140,"wires":[]},{"id":"197d9805.3c6d68","type":"comment","z":"c6d1c41a.4c8f98","name":"Loop","info":"","x":250,"y":180,"wires":[]},{"id":"951f3741.88f4c8","type":"inject","z":"c6d1c41a.4c8f98","name":"Every 10 sec","topic":"","payload":"500","payloadType":"num","repeat":"10","crontab":"","once":false,"x":300,"y":220,"wires":[["2934c5b1.ff353a"]]},{"id":"2716ee99.271842","type":"comment","z":"c6d1c41a.4c8f98","name":"Transmit","info":"","x":480,"y":100,"wires":[]},{"id":"50cca980.abbb68","type":"comment","z":"c6d1c41a.4c8f98","name":"IoT Gateway","info":"","x":650,"y":100,"wires":[]},{"id":"e6337274.2e4b2","type":"comment","z":"c6d1c41a.4c8f98","name":"Rule Engine","info":"","x":870,"y":100,"wires":[]},{"id":"8ecd97e4.5d8838","type":"comment","z":"c6d1c41a.4c8f98","name":"Alerts","info":"","x":1070,"y":340,"wires":[]},{"id":"900fca22.f684b8","type":"comment","z":"c6d1c41a.4c8f98","name":"Dashboard","info":"","x":1260,"y":340,"wires":[]},{"id":"c2b67e69.c6fa8","type":"comment","z":"c6d1c41a.4c8f98","name":"Sensor","info":"","x":110,"y":100,"wires":[]},{"id":"d97a8289.1174d","type":"comment","z":"c6d1c41a.4c8f98","name":"Sensor Data Store","info":"- Preferably a Time Series Database like InfluxDB\n- MySQL works fine for low data volume","x":870,"y":340,"wires":[]},{"id":"790e40ae.8ea66","type":"comment","z":"c6d1c41a.4c8f98","name":"IoT Analytics","info":"","x":830,"y":480,"wires":[]},{"id":"a46d89f3.465808","type":"comment","z":"c6d1c41a.4c8f98","name":"IoT Machine Learning","info":"","x":1100,"y":480,"wires":[]},{"id":"687a467d.be7598","type":"comment","z":"c6d1c41a.4c8f98","name":"Deep IoT","info":"","x":120,"y":480,"wires":[]},{"id":"4b02030e.de319c","type":"comment","z":"c6d1c41a.4c8f98","name":"Wide IoT","info":"","x":280,"y":480,"wires":[]},{"id":"f3be27e6.752e28","type":"comment","z":"c6d1c41a.4c8f98","name":"Mobile App","info":"","x":640,"y":480,"wires":[]},{"id":"f0565bb9.3311e8","type":"switch","z":"c6d1c41a.4c8f98","name":"switch1","property":"payload.lig","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":880,"y":180,"wires":[["f61521aa.2567e","b1c9cc84.ad401"],["9120e9d2.b368a8","77b29e0a.61b0c"]]},{"id":"6f9e8c3a.8d7564","type":"e-mail","z":"c6d1c41a.4c8f98","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":1090,"y":380,"wires":[]},{"id":"b7b81d94.ba265","type":"rbe","z":"c6d1c41a.4c8f98","name":"","func":"rbe","gap":"","start":"","inout":"out","x":870,"y":140,"wires":[[]]},{"id":"8f3ff88.b472408","type":"comment","z":"c6d1c41a.4c8f98","name":"Physical Device State","info":"","x":1120,"y":100,"wires":[]},{"id":"faf6f05b.fd7f5","type":"comment","z":"c6d1c41a.4c8f98","name":"Logical Device State","info":"","x":1110,"y":220,"wires":[]},{"id":"b1c9cc84.ad401","type":"file","z":"c6d1c41a.4c8f98","name":"","filename":"physical-device-state.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1160,"y":140,"wires":[]},{"id":"9120e9d2.b368a8","type":"file","z":"c6d1c41a.4c8f98","name":"","filename":"logical-device-state.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1150,"y":260,"wires":[]},{"id":"2934c5b1.ff353a","type":"function","z":"c6d1c41a.4c8f98","name":"passthrough","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["8b44b3e2.e8136","3e8079df.689976"]]},{"id":"8b44b3e2.e8136","type":"function","z":"c6d1c41a.4c8f98","name":"convert to json","func":"//  Return a JSON payload containing the \n//  timestamp and sensor data.\nreturn {\n    //  We will be returning a payload\n    //  instead of a top-level object.\n    payload: {\n        //  \"timestamp\" is number of milliseconds elapsed \n        //  since 1 Jan 1970 00:00:00 UTC.\n        timestamp: Date.now(),\n        \n        //  \"lig\" is the light level, e.g. 500.\n        lig: msg.payload\n    }\n};\n","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["f0565bb9.3311e8","cbc15d18.cd454"]]},{"id":"ab1e9591.64db78","type":"debug","z":"c6d1c41a.4c8f98","name":"debug","active":true,"console":"true","complete":"payload","x":860,"y":380,"wires":[]},{"id":"d5e21e1d.048e8","type":"gpio in","z":"c6d1c41a.4c8f98","name":"Light Sensor (A0)","state":"ANALOG","samplingInterval":"10000","pin":"0","board":"7b8704c4.af953c","x":300,"y":260,"wires":[["2934c5b1.ff353a","8f299fa1.317e1"]]},{"id":"b3c91298.5f28b","type":"gpio out","z":"c6d1c41a.4c8f98","name":"LED (D13)","state":"OUTPUT","pin":"13","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"7b8704c4.af953c","x":360,"y":380,"wires":[]},{"id":"8f299fa1.317e1","type":"function","z":"c6d1c41a.4c8f98","name":"Toggle output on input","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || false;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["b3c91298.5f28b"]]},{"id":"f3bb7d12.e2079","type":"ui_chart","z":"c6d1c41a.4c8f98","name":"","group":"712f4a57.a07534","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1270,"y":380,"wires":[[],[]]},{"id":"a3cb898e.d5eba8","type":"comment","z":"c6d1c41a.4c8f98","name":"⬅︎ HARDWARE","info":"","x":140,"y":40,"wires":[]},{"id":"624a84b8.b948fc","type":"comment","z":"c6d1c41a.4c8f98","name":"SOFTWARE ➡︎","info":"","x":1160,"y":40,"wires":[]},{"id":"87debb53.ec9c18","type":"comment","z":"c6d1c41a.4c8f98","name":"⬆︎ MICRO LEVEL","info":"","x":1340,"y":100,"wires":[]},{"id":"d852d42e.e86728","type":"link in","z":"c6d1c41a.4c8f98","name":"debug","links":["f61521aa.2567e","77b29e0a.61b0c"],"x":755,"y":380,"wires":[["ab1e9591.64db78"]]},{"id":"f61521aa.2567e","type":"link out","z":"c6d1c41a.4c8f98","name":"Physical Device State","links":["d852d42e.e86728"],"x":1055,"y":180,"wires":[]},{"id":"cbc15d18.cd454","type":"link out","z":"c6d1c41a.4c8f98","name":"iot gateway","links":[],"x":835,"y":220,"wires":[]},{"id":"3e8079df.689976","type":"link out","z":"c6d1c41a.4c8f98","name":"transmit","links":[],"x":615,"y":180,"wires":[]},{"id":"77b29e0a.61b0c","type":"link out","z":"c6d1c41a.4c8f98","name":"Logical Device State","links":["d852d42e.e86728"],"x":1055,"y":300,"wires":[]},{"id":"7b8704c4.af953c","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"firmata","serialportName":"/dev/cu.usbmodem1411","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"712f4a57.a07534","type":"ui_group","z":"","name":"Default","tab":"9c5ec672.dbb3f8","disp":true,"width":"6"},{"id":"9c5ec672.dbb3f8","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]